<div class="canvas-container">
  <div class="buttons-container">
    <div class="buttons-container__enlarge" id="zoom-in" (click)="zoomIn()" (mousedown)="mousedown($event)" (mouseup)="mouseup($event)" (mouseleave)="mouseup($event)">+</div>
    <div class="buttons-container__diminish" id="zoom-out" (click)="zoomOut()" (mousedown)="mousedown($event)" (mouseup)="mouseup($event)" (mouseleave)="mouseup($event)">-</div>
  </div>
  <zoomable-canvas
    [image]="image"
    [(zoomLevel)]="zoomLevel" [maxZoom]="maxZoom" [minZoom]="0"
  ></zoomable-canvas>
</div>
